:root {
    --ion-color-primary: #D0BCFE;
    --ion-color-primary-rgb: 208,188,254;
    --ion-color-primary-contrast: #000000;
    --ion-color-primary-contrast-rgb: 0,0,0;
    --ion-color-primary-shade: #b7a5e0;
    --ion-color-primary-tint: #d5c3fe;

    --ion-color-secondary: #65558F;
    --ion-color-secondary-opacity-40: rgba(101, 85, 143, 40%);
    --ion-color-secondary-rgb: 101,85,143;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255,255,255;
    --ion-color-secondary-shade: #594b7e;
    --ion-color-secondary-tint: #74669a;

    --ion-color-tertiary: #6030ff;
    --ion-color-tertiary-rgb: 96,48,255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255,255,255;
    --ion-color-tertiary-shade: #542ae0;
    --ion-color-tertiary-tint: #7045ff;

    --ion-color-success: #2dd55b;
    --ion-color-success-rgb: 45,213,91;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0,0,0;
    --ion-color-success-shade: #28bb50;
    --ion-color-success-tint: #42d96b;

    --ion-color-warning: #ffc409;
    --ion-color-warning-rgb: 255,196,9;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0,0,0;
    --ion-color-warning-shade: #e0ac08;
    --ion-color-warning-tint: #ffca22;

    --ion-color-danger: #c5000f;
    --ion-color-danger-rgb: 197,0,15;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #ad000d;
    --ion-color-danger-tint: #cb1a27;

    --ion-color-light: #f6f8fc;
    --ion-color-light-rgb: 246,248,252;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0,0,0;
    --ion-color-light-shade: #d8dade;
    --ion-color-light-tint: #f7f9fc;

    --ion-color-medium: #292432;
    --ion-color-medium-opacity-40: rgba(41,36,50, 40%);
    --ion-color-medium-rgb: 41,36,50;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255,255,255;
    --ion-color-medium-shade: #24202c;
    --ion-color-medium-tint: #3e3a47;

    --ion-color-dark: #1b1a1b;
    --ion-color-dark-rgb: 20,18,24;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255,255,255;
    --ion-color-dark-shade: #121015;
    --ion-color-dark-tint: #2c2a2f;


    --coin-color-gold: #C0C700;
    --coin-color-silver: #979797;
    --coin-color-copper: #593A00
}
